 <settings>
<mirrors>
  <mirror>
    <id>nexus</id> 
    <mirrorOf>*</mirrorOf> 
    <url>http://office.jee-soft.cn:8081/nexus/content/groups/hotent/</url>
	<!--url>http://erp.ugoau.cn:8081/nexus/content/groups/public/</url-->
  </mirror>
</mirrors>
 <profiles>  
    <profile>  
      <id>nexus</id>  
      <repositories>  
        <repository>  
            <id>nexus</id>  
            <name>local private nexus</name>  
            <url>http://192.168.1.8:8081/nexus/content/groups/public</url>  
        </repository> 
        <repository>
		      <id>repository.maven</id>
		      <name>Maven Repository</name>
		      <layout>default</layout>
		      <url>http://search.maven.org/</url>
		      <snapshots>
		        <enabled>true</enabled>
		      </snapshots>
	    </repository>  
      </repositories> 
    	
    </profile>  
    <!--profile>  
      <id>hotent-local</id>  
      <repositories>  
        <repository>  
            <id>hotent-local</id>  
            <name>local private htsoft release</name>  
            <url>http://192.168.1.8:8081/nexus/content/groups/public</url>  
        </repository>  
      </repositories>  
    </profile-->
    
    <profile>  
      <id>hotent-remote</id>  
      <repositories>  
        <repository>  
            <id>hotent-remote</id>  
            <name>remote hotent maven release</name>  
            <url>http://office.jee-soft.cn:8081/nexus/content/groups/hotent/</url>  
        </repository>  
      </repositories>  
    </profile>
   
 </profiles>  
 <servers>
	<server>
     <id>snapshots</id>
     <username>deployment</username>
     <password>deployment1234</password>
    </server>
 </servers>
 <activeProfiles>  
    
      <activeProfile>hotent-remote</activeProfile> 
      <activeProfile>nexus</activeProfile> 
     <!--
     <activeProfile>nexus-snapshots</activeProfile>  
     -->
 </activeProfiles>
 </settings>